<template>
<v-layout
    column
    align-center
    @keydown.enter.prevent
    @keyup.enter="sendMessage(currentMessage, userName)"
  >
    <v-snackbar
      :timeout="6000"
      multi-line
      top
      v-model="snackbar"
      color="error"
    >
      {{ errorMessage }}
      <v-btn color="secondary" @click.native="snackbar = false">Close</v-btn>
    </v-snackbar>
    <v-container>
      <v-flex
        xs10
        class="elevated white pa-4 align-end"
       
      >
        <div class="mb-8">
        <v-layout
          v-for="message in messages"
          :key="message.timestamp"
          row
          class="pb-200"
        
        >
          <v-flex xs12 >
            <div v-if="message.uuid === uuid" class="float-right">
             
            <v-chip
              class="float-right"
              text-color="white"
              color="primary"
              label>
                {{message.text}}
            </v-chip>
            <h6 
            text-color="secondary"
            class="text-right">
            {{message.user}}
            </h6>
            </div>
            <div v-if="message.uuid !== uuid" class="float-left">
              
            <v-chip
              text-color="primary"
              outlined
              color="primary"
              class="float-left"
              label>
                {{message.text}}
            </v-chip>
            <h6 
            color="secondary"
            class="text-left">
            {{message.user}}
            </h6>
            </div>
          </v-flex>
        </v-layout></div>
    <v-flex>
    <v-card class="pa-8 rounded-xl">
        <v-text-field
          label="Name"
          v-model="userName"
          class="mt-4"
        > </v-text-field>
        
        <v-text-field
          label="New Message"
          v-model="currentMessage"
          class="mt-4"
        >
        </v-text-field>
       
        <v-btn
        color="primary"
          @click="sendMessage(currentMessage, userName)"
          @keydown.enter.prevent
          @keyup.enter="sendMessage(currentMessage, userName)"
        >
          Send
        </v-btn></v-card></v-flex>
       
      </v-flex>
    </v-container>
  </v-layout>

</template>

<script>
import { v4 as uuidv4 } from 'uuid'
import * as axios from 'axios'

export default {
  data: () => ({
    snackbar: false,
    currentMessage: "",
    userName: "",
    messages: [],
    totalChatHeight: 0,
    connection: {},
    errorMessage: "",
    uuid: "",
    backendHealthy: false
  }),

  created() {
    this.uuid = uuidv4()

    this.checkBackend()

    this.$socket.onmessage = (message) => {
      const data = JSON.parse(message.data)
      data.timestamp = Date.now()
      this.messages.push(data)
    }

    this.$socket.onopen = function() {
      console.log('successfully connected to the websocket server')
    }

  },

  methods: {
    sendMessage: function(text, user) {
      if (text.length > 0 && user.length > 0){
      const message = JSON.stringify({
        text, user,
        uuid: this.uuid
      })
      this.$socket.send(message)
      this.currentMessage = ""
      }
    },
    checkBackend: function() {
      axios.get('http://localhost:3000/health')
        .then((res) => {
          
          if (res.status === 200 && res.data.OK === true) {
            console.log('backend is healthy')
            this.backendHealthy = true
            return
          } else {
            console.log(`backend check failed, response code was ${res.status}, data was ${res.data}`)
            setTimeout(() => this.checkBackend(), 10000)
          }
        })
        .catch((err) => {
          console.log(err)
          console.log("backend not healthy yet, retrying")
          setTimeout(() => this.checkBackend(), 10000)
        })
    }
  }
}
</script>
